@charset "utf-8";

html, body {
  margin:0; padding:0; border:0;
  min-width:100%; min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

.chrome {
  margin:0;
  padding:0;
  border:0;
  list-style:none;
}

.main {

}

body {
  height: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background: linear-gradient( to bottom, #ffeae6,#ebebff);
 }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
  }

h2{
	color: rgba(0, 0, 0,.3);
	font-weight: bold;
    font-size: 24px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin: 0;
}

h4 {
  color: rgba(0, 0, 0, .2);
  font-weight: bold;
  font-size: 1em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
}

p{
	color: rgba(0, 0, 0, .3);
}

c{
	color: rgba(0, 0, 0,.5);
}

.main{
	text-align: left;
	padding: 3%;

	h1, h2, h3, h4{
		text-align: left;
	}
}

nav{
  display: flex;
  box-shadow: 0em -1.3em 1em 1em black;

  color: rgba(0, 0, 0, .3);

	width: 100%;
  line-height: 5rem;

  background: #d4d4d4 url("../images/background.png");

  flex-direction: row;

  .nicole{
    padding-left: 6em;
    background: url("../images/logosml.png") no-repeat 10%;
  }
	>ul{

    flex-grow: 1;

    display: flex;
    text-align: center;
    >li{
      flex: 1;
      &::before, &::after{
        display: inline-block;
        transition: 0.2s;
        padding:0 0.3em;
        opacity: 0;
      }
      &::before{
        content:'{';
        transform: translateX(2em);
      }
      &::after{
        content:'}';
        transform: translateX(-2em);
      }
      &:hover::before, &:hover::after {
        transform: translateX(0em);
        opacity: 1;
      }
  	}
	}
}


.doc {
  font-size: 14px;
}
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•";
}
.doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.zoom{
  animation-name: welcome;
  animation-duration: .9s;
}

// ANIMATION

.welcome {
	h1{
		  background: url("../images/middleman.png") no-repeat center 100px;
		  padding: 350px 0  0px;
	}

  }

@keyframes welcome {
  from {
    transform: scale(0);
    opacity: 0;
  }
  50% {
   transform: scale(0);
   opacity: 0;
  }
  82.5% {
    transform: scale(1.03);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    transform: scale(1);
  }
}

a{
  text-decoration: none;
}

a:link{
	  color: rgba(0, 0, 0, .3);
	  text-decoration: none;
  }
a:visited{
	  color: rgba(0, 0, 0, .4);
	  text-decoration: none;
  }
 a:hover{
	 color: rgba(0, 0, 0, .4);
	 text-decoration: none;
 }
