@charset "utf-8";

html, body {
  margin:0; padding:0; border:0;
  min-width:100%; min-height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.chrome {
  margin:0;
  padding:0;
  border:0;
  list-style:none;
}

.main {
  >.notabox{
    text-align: center;

    display: flex;
    flex-direction: row;
    >.box{
      >ul{
        margin:0;
        padding:0;
        border:0;
        color: rgba(0, 0, 0, .2);
        font-weight: 300;
        font-size: 1em;
        letter-spacing: -1px;
        list-style: none;
      }

      flex-grow: 1;
    }
  }

}

.main{

}

h1 {
  color: rgba(251, 75, 78, 1);
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
  }

h2{

  color: #8cd3d7;
  opacity: .6;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 2px -2px 0 #F04D50;
	margin: 0;
}
h3{
  color: rgba(0, 0, 0,.3);
	font-weight: 600;
    font-size: 1.2em;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin: 0;
}

h4 {
  color: rgba(66, 70, 81, 1);
  font-weight: 600;
  font-size: 1em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
}

p{
	color: rgba(0, 0, 0, .3);
}
ul{
  color: rgba(0, 0, 0, .3);
}

red{
	color: #F04D50;
}
blue{
	color: #8CD3D7;
}
green{
  color: #21DE87;
}
black{
  color: #424651;
}

body {
  display: flex;
  flex-direction: column;

  .main{
    flex-grow: 1;
  	text-align: left;
  	padding: 3%;

  	h1, h2, h3, h4{
  		//text-align: left;
  	}
  }

  >nav{
    display: flex;
    background: #F5F6F6;
    box-shadow: 0em -1.3em 1em 1em black;

    color: rgba(0, 0, 0, .3);

  	width: 100%;
    line-height: 5rem;


    flex-direction: row;

    * {
      align-self: center;
    }

    svg{
      display: inline-block;
      padding: 1em;
      width: 2em;
    }

    h1 {
      color: #8cd3d7;
      font-weight: 700;
      font-size: 2em;
      letter-spacing: -1px;
      text-transform: uppercase;
      text-shadow: 5px -5px 0 #F04D50;
      margin: 0;
    }
    h4 {
      display: inline-block;
      color: rgba(66, 70, 81, 1);
      font-weight: 400;
      font-size: 1.28em;
      letter-spacing: -1px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
      margin: 0;
    }
  	>ul{

      flex-grow: 1;

      display: flex;
      text-align: center;
      >li{
        flex: 1;
        &::before, &::after{
          display: inline-block;
          transition: 0.2s;
          padding:0 0.3em;
          opacity: 0;
        }
        &::before{
          content:'{';
          transform: translateX(2em);
        }
        &::after{
          content:'}';
          transform: translateX(-2em);
        }
        &:hover::before, &:hover::after {
          transform: translateX(0em);
          opacity: 1;
        }
    	}
  	}
  }
  >footer{
    box-shadow: 0em 1.5em 1em 1em black;
    color: rgba(0, 0, 0, .3);
    width: 100%;
    line-height: 2rem;
    text-align: center;

    >ul{
      display:flex;
      flex-direction: row;
      >li{
        flex-grow: 1;
      }
    }
  }
}

.doc {
  font-size: 14px;

  a {
    padding: 0;
    color: rgba(66, 70, 81, .5);
  }
  a:hover {
    color: rgba(66, 70, 81, 1);
  }
  a::before,
  a:last-child::after {
    opacity: .9;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
  }
}


.zoom{
  animation-name: welcome;
  animation-duration: .9s;
}

// ANIMATION

@keyframes welcome {
  from {
    transform: scale(0);
    opacity: 0;
  }
  50% {
   transform: scale(0);
   opacity: 0;
  }
  82.5% {
    transform: scale(1.03);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    transform: scale(1);
  }
}

a{
  text-decoration: none;
}

a:link{
	  color: rgba(66, 70, 81, .5);
	  text-decoration: none;
  }
a:visited{
	  color: rgba(66, 70, 81, .7);
	  text-decoration: none;
  }
 a:hover{
	 color: rgba(66, 70, 81, 1);
	 text-decoration: none;
 }
