@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif;
  background: #F5F6F6;
}

.welcome {
	padding-top: 10em;
  background: #F5F6F6;
  svg{
    width: 12em;
	}

}

.welcome h1 {
  color: #8cd3d7;
  font-weight: 800;
  font-size: 2.7em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 5px -5px 0 #F04D50;
  margin: 0;
  }

  .welcome h4 {
    color: rgba(66, 70, 81, 1);
    font-weight: 400;
    font-size: 1.28em;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 0;
  }
