
<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
	<script src="javascripts/modernizr.custom.js"></script>
<% end %>

<div class="container">

<header class="clearfix">
	<h2>portfolio</h2>
</header>

<div class="main">
	<ul id="og-grid" class="og-grid">
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use The Room" data-largesrc="images/portfolio/graphicdesign/image/theroom.jpg" data-title="The Room" data-description="A movie poster re-design for Tommy Wiseau's cult classic, The Room. Simple and representative of the world around Johnny.">
				<img src="images/portfolio/graphicdesign/thumbnail/theroom.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Taibhreamh" data-largesrc="images/portfolio/illustration/image/dream.jpg" data-title="Taibhreamh" data-description="A self representative CD jewel case cover designed in traditional irish knots.">
				<img src="images/portfolio/illustration/thumbnail/taibhreamh.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use L'armoire Bleu" data-largesrc="images/portfolio/logos/image/armoirebleu.jpg" data-title="L'armoire Bleu" data-description="A logo designed for a potential refurnished furniture blog, depicting the style of furniture discussed on the forum.">
				<img src="images/portfolio/logos/thumbnail/armoire.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject= Request to use Elsewhere Typography" data-largesrc="images/portfolio/typography/image/road.jpg" data-title="Elsewhere" data-description="“Now more than ever do I realize that I will never be content with a sedentary life, that I will always be haunted by thoughts of a sun-drenched elsewhere.” — Isabelle Eberhardt">
				<img src="images/portfolio/typography/thumbnail/elsewhere.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use WD-40 Poster" data-largesrc="images/portfolio/musical/image/wd40POST-01.jpg" data-title="WD-40: the c-eng musical poster" data-description="A poster designed for the set of the Carleton Engineering musical of 2015, depicting the musical of 2012. It depicts the main characters of the musical with the director of the production in focus, and was given to him as a gift post-production. It is my personal favourite of the set of 5 musical posters.">
				<img src="images/portfolio/musical/thumbnail/wd40.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Squizzato Poster" data-largesrc="images/portfolio/musical/image/squizzy-01-01.jpg" data-title="Squizzato: the C-eng musical poster" data-description="A poster designed for a volunteer of the Carleton Engineering musical of 2015. It was designed as a gift in thanks for her continuous help in the production, even past graduation.">
				<img src="images/portfolio/musical/thumbnail/squizzy.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Prom Girl" data-largesrc="images/portfolio/amtcards/image/prom.jpg" data-title="Prom Girl" data-description="A stylized illustration for a fun prom updo with flowers. An experiment with single colour shading (purple.)">
				<img src="images/portfolio/illustration/thumbnail/prom.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Self Portrait" data-largesrc="images/portfolio/illustration/image/selfportrait.jpg" data-title="Self Portrait" data-description="A digital self portrait, using a photo of myself. Done in Photoshop in 3 hours.">
				<img src="images/portfolio/illustration/thumbnail/selfportrait.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Amtcards (full series)" data-largesrc="images/portfolio/amtcards/image/amtcards1.jpg" data-title="Amtcards (Half)" data-description="A full deck of cards based on the Hog's Back Amtgard Live Action Role Play (LARP) group. Each card depicts a unique character created in the world of Amtgardia, and divided into suits by character origin, alliances, and player.">
				<img src="images/portfolio/illustration/thumbnail/amtcards.jpg" alt="img01"/>
			</a>
		</li>
		<li>
			<a href="mailto:nicole.mackin@carleton.ca?subject=Request to use Skull Girl" data-largesrc="images/portfolio/illustration/image/skullgirl.jpg" data-title="Skull Girl" data-description="A skeleton designed with stereotypical cute features. It is used to show that things that are deemed uncute, can be designed to be cute.">
				<img src="images/portfolio/illustration/thumbnail/skullgirl.jpg" alt="img01"/>
			</a>
		</li>
	</ul>
</div>
</div> <!-- container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/grid.js"></script>
<script>
$(function() {
	Grid.init();
});
</script>
