---
title: About
---

		<h2> About Me </h2>
		<p> I'm Nicole and I think in <c>pictures</c>.</p>
		<p> I'm a student at Carleton University, working towards my <c>Bachelors of Information Technology</c> in the <c>Interactive Multimedia Design</c> stream. I spend my spare time drawing, coding, and participating.</p>
