---
title: About
---

<h2>About</h2>
<p> I'm Nicole and I like to <em>make things.</em></p>
<p> I'm currently studying for my <em><b>Bachelor of Information Technology</b>: Interactive Multimedia Design</em> at <red>Carleton University</red> and <green>Algonquin College</green>, and have been since 2013. </p>

<div class="notabox">
	<div class="box">
		<h3><red>Coding</red></h3>
		<ul>
			<li>HTML</li>
			<li>HTML5</li>
			<li>CSS</li>
			<li>Javascript</li>
			<li>PHP</li>
			<li>MySQL</li>
			<li>C/C++</li>
			<li>C#</li>
			<li>Python</li>
		</ul>
	</div>
	<div class="box">
		<h3><black>Tools</black></h3>
		<ul>
			<li>Unity</li>
			<li>PHPMyAdmin</li>
			<li>WinSCP</li>
			<li>Github</li>
			<li>Atom</li>
			<li>Scrum</li>
			<li>Kanban</li>
			<li>Trello</li>
		</ul>
	</div>
	<div class="box">
		<h3><blue>Design</blue></h3>
		<ul>
			<li>Photoshop</li>
			<li>Illustrator</li>
			<li>InDesign</li>
			<li>Dreamweaver</li>
			<li>Flash</li>
			<li>Premiere</li>
			<li>After Effects</li>
			<li>Blender</li>
		</ul>
	</div>
</div>
