---
title: Portfolio
---
<% content_for :head do %>
  <link rel="stylesheet" href="https://cdn.rawgit.com/dimsemenov/PhotoSwipe/v4.0.7/dist/photoswipe.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/dimsemenov/PhotoSwipe/v4.0.7/dist/default-skin/default-skin.css">
  <script src="https://cdn.rawgit.com/dimsemenov/PhotoSwipe/v4.0.7/dist/photoswipe-ui-default.min.js"></script>
  <script src="https://cdn.rawgit.com/dimsemenov/PhotoSwipe/v4.0.7/dist/photoswipe.min.js"></script>
<% end %>

<%= partial :gallery %>

<h2>Portfolio</h2>
